name: Copilot coding agent

on:
  workflow_dispatch:
    inputs:
      issue_key:
        required: true
      issue_summary:
        required: true
      issue_description:
        required: true


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Workflow works"
